review-settings-list {
    .settings-list {
        margin-bottom: 0;
        
        .item-ios ion-icon[item-left] {
            margin-top: 5px;
            margin-bottom: 4px;
        }
    }
    
    [name='no-suru'],
    [name='tari'] {
        min-height: 1.3rem;
        font-size: 1.3rem;
    }
}
