<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed="500">
    <h2>About</h2>
    <p>
      This app was created by Arthur Hoek. You can contact me if you have questions, issues
      or suggestions at <a href="mailto:katsu@arthurhoek.nl">katsu@arthurhoek.nl</a>.

    </p>
    <p>If you like this site you can leave a tip with this button.</p>
    <p>
      <ion-button
        href="https://paypal.me/ArthurHoek"
        target="_blank"
        color="secondary"
      >
        <ion-icon slot="start" name="logo-paypal"></ion-icon>
        PayPal
      </ion-button>
    </p>

    <h2>How does it work?</h2>
    <p>
      This app is created to help practising conjugation of Japanese verbs and
      adjectives. To start, check the forms you want to practise. For example, if
      you want to practice the te-form of verbs, select 'Verbs' and 'Te-form' and
      leave all other checkmarks blank.
    </p>
    <p>
      After you click the 'Start practice' button, you will see the questions. On
      top of the screen you will get the Japanese word with the English meaning. Below that
      is given what you should answer. Type your answer in the field marked '答え'. The app
      will accept answers given in hiragana only, or mixed kanji/hiragana/katakana.
      When using an western keyboard, what you type is automatically converted to
      hiragana.
    </p>
    <p>
      After answering, the answer field will become green if you answered correctly or it
      will become red when the answer was not correct. The correct answer will be given below.

      If you press enter again, you can answer the next question.

      After the questions you will see a summary where you can see how well you did.
    </p>
  </ion-grid>
</ion-content>
