# Build output
/dist/
/www/
/out-tsc/

# Dependencies
/node_modules/

# Caches
/.angular/
/.sass-cache/
/coverage/

# IDEs and editors
/.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Misc
*~
*.log
*.tmp
npm-debug.log*
.DS_Store
Thumbs.db
