<ion-list ngClass="settings-list">
  <!-- forms -->
  <ion-item *ngIf="question.isOfType('te-form')">
    <span slot="start">て</span>
    {{'setting.form.te-form'|translate}}
  </ion-item>
  <ion-item *ngIf="question.isOfType('tai-form')">
    <ion-icon name="heart" slot="start"></ion-icon>
    {{'setting.form.tai-form'|translate}}
  </ion-item>
  <ion-item *ngIf="question.isOfType('volitional')">
    <ion-icon name="walk" slot="start"></ion-icon>
    {{'setting.form.volitional'|translate}}
  </ion-item>
  <ion-item *ngIf="question.isOfType('potential')">
    <ion-icon name="flag" slot="start"></ion-icon>
    {{'setting.form.potential'|translate}}
  </ion-item>
  <ion-item *ngIf="question.isOfType('imperative')">
    <ion-icon name="megaphone" slot="start"></ion-icon>
    {{'setting.form.imperative'|translate}}
  </ion-item>
  <ion-item *ngIf="question.isOfType('conditional')">
    <ion-icon name="code-download" slot="start"></ion-icon>
    {{'setting.form.conditional'|translate}}
    <ion-note>{{'setting.form.conditional-note'|translate}}</ion-note>
  </ion-item>
  <ion-item *ngIf="question.isOfType('tari-form')">
    <span name="tari" slot="start">たり</span>
    {{'setting.form.tari-form'|translate}}
  </ion-item>
  <ion-item *ngIf="question.isOfType('passive')">
    <ion-icon name="bonfire" slot="start"></ion-icon>
    {{'setting.form.passive'|translate}}
  </ion-item>
  <ion-item *ngIf="question.isOfType('causative')">
    <ion-icon name="log-in" slot="start"></ion-icon>
    {{'setting.form.causative'|translate}}
  </ion-item>

  <!-- formal -->
  <ion-item *ngIf="question.isOfType('polite')">
    <ion-icon name="briefcase" slot="start"></ion-icon>
    {{'setting.speech-level.formal'|translate}}
    <ion-note>{{'setting.speech-level.formal-note'|translate}}</ion-note>
  </ion-item>
  <!-- informal -->
  <ion-item *ngIf="question.isOfType('plain')">
    <ion-icon name="shirt" slot="start"></ion-icon>
    {{'setting.speech-level.informal'|translate}}
    <ion-note>{{'setting.speech-level.informal-note'|translate}}</ion-note>
  </ion-item>

  <!-- positive -->
  <ion-item *ngIf="question.isOfType('positive')">
    <ion-icon name="happy" slot="start"></ion-icon>
    {{'setting.positive/negative.positive'|translate}}
  </ion-item>
  <!-- negative -->
  <ion-item *ngIf="question.isOfType('negative')">
    <ion-icon name="sad" slot="start"></ion-icon>
    {{'setting.positive/negative.negative'|translate}}
  </ion-item>

  <!-- non-past -->
  <ion-item *ngIf="question.isOfType('present')">
    <ion-icon name="play-forward" slot="start"></ion-icon>
    {{'setting.tense.nonpast'|translate}}
    <ion-note>{{'setting.tense.nonpast-note'|translate}}</ion-note>
  </ion-item>
  <!-- past -->
  <ion-item *ngIf="question.isOfType('past')">
    <ion-icon name="play-back" slot="start"></ion-icon>
    <ion-label>{{'setting.tense.past'|translate}}</ion-label>
  </ion-item>

  <!-- reverse -->
  <ion-item *ngIf="settings?.reverse === true">
    <ion-icon name="shuffle" slot="start"></ion-icon>
    {{'setting.special.reverse'|translate}}
    <ion-note>{{'setting.special.reverse-note'|translate}}</ion-note>
  </ion-item>

</ion-list>
