ion-list {
  margin-bottom: 0;
}

ion-item {
  --inner-border-width: 0;
  --inner-padding-top: 3px;
  --inner-padding-bottom: 3px;
  --padding-top: 1px;
  --padding-bottom: 1px;
  --min-height: 10px;
}

[slot='start'] {
  margin-top: 2px;
  margin-bottom: 2px;
}

ion-note {
  margin-left: 5px;
}