ion-item {
  font-size: 1.6rem;

  &:hover {
    cursor: pointer;
  }
}

.question-title {
  margin: 0 0 4px;
  font-size: .8rem;
  color: var(--ion-color-medium);
}

.given-answer {
  margin: 0;
}

.given-answer--skipped {
  font-size: 1rem;
  font-style: italic;
  color: var(--ion-color-medium);
}

.correct .given-answer {
  color: var(--ion-color-success);
}

.incorrect .given-answer {
  color: var(--ion-color-danger);
}

answers ion-list.list-ios {
  margin-bottom: 0;
}

ion-list {
  max-width: 800px;
  margin: 0 auto;
}
