page-home {
    .toolbar-title,
    ion-footer .button {
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    }

    [name='no-suru'],
    [name='tari'] {
        min-height: 1.3rem;
        font-size: 1.3rem;
    }
    
    [name='no-suru'] {
        text-decoration: line-through;
    }

    ion-footer {
        .button-md {
            margin: 0;
        }
    }
    
    ion-icon[name=''] {
        font-size: 2.3rem;
    }

    ion-item:hover {
        ion-icon {
            transition: color 200ms ease-in-out;
            color: color($colors, primary);
            animation: pulse2 600ms linear infinite;
        }

        ion-icon[name='bowtie'] {
            animation: spin 600ms linear infinite;
        } 

        ion-icon[name='heart'] {
            animation: pulse1 600ms linear infinite;
        }
    }
    
    .start-review {
        margin-bottom: 0;
    }
}
