// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

[lang='ja'],
[lang='ja'] * {
    font-family: 'YuKyokasho Yoko', sans-serif;
    font-weight: normal;
}

@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}

@keyframes pulse1 {
    0% {
        color: rgba(165, 25, 25, 1);
    }
    90% {
        color: rgba(255, 0, 0, 0.0);
    }
    100% {
        color: rgba(255, 0, 0, 1.0);
    }
}

@keyframes pulse2 {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse2 500ms linear infinite;
}

body {
    background: #eee;
    margin: 0 auto;
    display: flex;
}

ion-app.app-root {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}
