// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

* {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

[lang='ja'],
[lang='ja'] * {
    font-family: 'YuKyokasho Yoko', sans-serif;
    font-weight: normal;
}

@keyframes spin {
    100% { 
        transform:rotate(360deg); 
    } 
}

@keyframes pulse1 {
    0% {
        color: rgba(165, 25, 25, 1);
    }
    90% {
        color: rgba(255, 0, 0, 0.0);
    }
    100% {
        color: rgba(255, 0, 0, 1.0);
    }
}

@keyframes pulse2 {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse2 500ms linear infinite;
}

body {
    background: #eee;
    margin: 0 auto;
    display: flex;

    $bg-dark: #ebebec;
    $bg-light: #ededf0;

    background-color:$bg-dark;
    background-image:
        radial-gradient(circle at 100% 150%, $bg-dark 24%, $bg-light 25%, $bg-light 28%, $bg-dark 29%, $bg-dark 36%, $bg-light 36%, $bg-light 40%, transparent 40%, transparent),
        radial-gradient(circle at 0    150%, $bg-dark 24%, $bg-light 25%, $bg-light 28%, $bg-dark 29%, $bg-dark 36%, $bg-light 36%, $bg-light 40%, transparent 40%, transparent),
        radial-gradient(circle at 50%  100%, $bg-light 10%, $bg-dark 11%, $bg-dark 23%, $bg-light 24%, $bg-light 30%, $bg-dark 31%, $bg-dark 43%, $bg-light 44%, $bg-light 50%, $bg-dark 51%, $bg-dark 63%, $bg-light 64%, $bg-light 71%, transparent 71%, transparent),
        radial-gradient(circle at 100% 50%, $bg-light 5%, $bg-dark 6%, $bg-dark 15%, $bg-light 16%, $bg-light 20%, $bg-dark 21%, $bg-dark 30%, $bg-light 31%, $bg-light 35%, $bg-dark 36%, $bg-dark 45%, $bg-light 46%, $bg-light 49%, transparent 50%, transparent),
        radial-gradient(circle at 0    50%, $bg-light 5%, $bg-dark 6%, $bg-dark 15%, $bg-light 16%, $bg-light 20%, $bg-dark 21%, $bg-dark 30%, $bg-light 31%, $bg-light 35%, $bg-dark 36%, $bg-dark 45%, $bg-light 46%, $bg-light 49%, transparent 50%, transparent);
    background-size:100px 50px;
}

ion-app.app-root {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}
