<ion-header>
    <ion-navbar hideBackButton>
        <ion-title>
            Summary
        </ion-title> 
        
        <ion-buttons end>
            <button ion-button (click)="navCtrl.popToRoot()">
                Done
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let question of questions; let i = index;" 
            (click)="goToQuestion(i)">
            <div *ngIf="question.correct === false"> 
                <span lang="jp">
                    {{question.givenAnswer}}
                </span>
            </div>
            
            <div>
                <ruby lang="jp">
                    {{question.answers[0]}}
                    <rt>
                        {{question.answers[1]}}
                    </rt>
                </ruby>
            </div>

            <ion-icon *ngIf="question.correct === true" name="checkmark-circle" color="secondary" item-right></ion-icon>
            <ion-icon *ngIf="question.correct === false" name="close-circle" color="danger" item-right></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
