page-summary {
    .summary {
        overflow-y: scroll;
        display: block;
    }
    
    ruby {
        rt {
            font-size: .7em;
        }
    }
    
    ion-icon[name='checkmark-circle'] {
        color: color($colors, correct);
    }
    
    ion-icon[name='close-circle'] {
        color: color($colors, incorrect);
    }

    .correct .given-answer {
        color: color($colors, correct);
    }
    
    .incorrect .given-answer {
        color: color($colors, incorrect);
    }
    
    answers ion-list.list-ios {
        margin-bottom: 0;
    }
}
