<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons begin>
            <button ion-button icon-only (click)="showSummary()">
                <ion-icon name="arrow-back"></ion-icon>
                Stop
            </button>
        </ion-buttons>
        
        <ion-title>
            {{index + 1}} / {{questions.length}}
        </ion-title> 

        <ion-buttons end>
            <button ion-button icon-only (click)="nextQuestion()">
                Skip
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content
    [class.correct]="questions[index].correct === true"
    [class.incorrect]="questions[index].correct === false"
    >
    
    <ion-item ngClass="dictionary">
        <ruby lang="jp">
            {{questions[index].word}}
            <rt *ngIf="questions[index].word !== questions[index].reading">
                {{questions[index].reading}}
            </rt>
        </ruby>
        <ion-note item-right>
            {{questions[index].meaning}}
        </ion-note>
    </ion-item>

    <ion-list ngClass="settings-list">
        <!-- special forms -->
        <ion-item *ngIf="questions[index].type.search('te-form') !== -1">
            <ion-icon item-left>て</ion-icon>
            Te-form
        </ion-item>
        <ion-item *ngIf="questions[index].type.search('tai-form') !== -1">
            <ion-icon name="heart" item-left></ion-icon>
            Tai-form</ion-item>               
        <ion-item *ngIf="questions[index].type.search('volitional') !== -1">
            <ion-icon name="walk" item-left></ion-icon>
            Volitional
        </ion-item>
        
        <!-- polite -->
        <ion-item *ngIf="questions[index].type.search('polite') !== -1">
            <ion-icon name="bowtie" item-left></ion-icon>
            Formal (neutral)</ion-item>
        <!-- plain -->
        <ion-item *ngIf="questions[index].type.search('plain') !== -1">
            <ion-icon name="shirt" item-left></ion-icon>
            Informal (plain)</ion-item>

        <!-- positive -->
        <ion-item *ngIf="questions[index].type.search('positive') !== -1">                   
            <ion-icon name="happy" item-left></ion-icon>
            Positive</ion-item>
        <!-- negative -->
        <ion-item *ngIf="questions[index].type.search('negative') !== -1">                   
            <ion-icon name="sad" item-left></ion-icon>
            Negative</ion-item>

        <!-- non-past -->
        <ion-item *ngIf="questions[index].type.search('present') !== -1">
            <ion-icon name="fastforward" item-left></ion-icon>
            Nonpast tense (present or future)</ion-item>
        <!-- past -->
        <ion-item *ngIf="questions[index].type.search('past') !== -1">
            <ion-icon name="rewind" item-left></ion-icon>
            Past tense</ion-item>
        
        <!-- reverse -->
        <ion-item *ngIf="settings.reverse === true">
            <ion-icon name="shuffle" item-left></ion-icon>
            Reverse, answer with dictionary form</ion-item>        
    </ion-list>
    
    <form (submit)="checkAnswer(questions[index])">
        <ion-item ngClass="answer-item">
            <ion-input #answerInput
                lang="jp"
                [(ngModel)]="questions[index].givenAnswer"
                [ngModelOptions]="{standalone: true}"
                class="answerInput" 
                type="text" 
                placeholder="答え" 
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
            </ion-input>
            <button ion-button icon-only item-right clear type="submit"
                    [ngClass]="{pulse: questions[index].answered}">
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-item>
    </form>

    <!-- Show all allowed answers -->
    <ion-list *ngIf="questions[index].correct === false">
        <ion-item class="answer" *ngFor="let answer of questions[index].answers"> 
            <ruby lang="jp">
                {{answer.word}}
                <rt>
                    {{answer.reading}}
                </rt>
            </ruby>
        </ion-item>
    </ion-list>
</ion-content>
