page-review {

    .swiper-slide {
        align-items: flex-start;

        ruby {

            font-size: 2.4em;
        }
    }
    
    .correct {
        .answerInput {
            background-color: #6f6;
            color: white;
        }
    }
    
    .incorrect {
        .answerInput {
            background-color: #f66;
            color: white;
        }
    }

    .summary {
        .correct {
            background-color: #cfc;
        }
        
        .incorrect {
            background-color: #fcc;
        }
    }
}
