page-review {

    .swiper-slide {
        align-items: flex-start;

        ruby {

            font-size: 2.4em;
        }
    }
    
    .correct {
        background-color: green;
    }
    .incorrect {
        background-color: red;
    }

}
