<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      {{'setting.title'|translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/information" routerDirection="forward">
        {{ 'setting.info'|translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>
            {{'setting.group-title.form'|translate}}
          </ion-list-header>
          <ion-item>
            <span class="text-icon" slot="start"> </span>
            <ion-checkbox [(ngModel)]="settings.normal" justify="space-between">
              {{'setting.form.normal'|translate}}
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <span slot="start">て</span>
            <ion-checkbox [(ngModel)]="settings.teForm" justify="space-between">
              {{'setting.form.te-form'|translate}}
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-icon name="walk-outline" slot="start"></ion-icon>
            <ion-checkbox
              [(ngModel)]="settings.volitional"
              [disabled]="settings.verb === false"
              justify="space-between"
            >
              {{'setting.form.volitional'|translate}}
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-icon name="heart-outline" slot="start"></ion-icon>
            <ion-checkbox
              [(ngModel)]="settings.taiForm"
              [disabled]="settings.verb === false"
              justify="space-between"
            >
              {{'setting.form.tai-form'|translate}}
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <span name="tari" slot="start">たり</span>
            <ion-checkbox [(ngModel)]="settings.tariForm" justify="space-between">
              {{'setting.form.tari-form'|translate}}
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-icon name="flag-outline" slot="start"></ion-icon>
            <ion-checkbox
              [(ngModel)]="settings.potential"
              [disabled]="settings.verb === false"
              justify="space-between"
            >
              {{'setting.form.potential'|translate}}
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-icon name="megaphone-outline" slot="start"></ion-icon>
            <ion-checkbox
              [(ngModel)]="settings.imperative"
              [disabled]="settings.verb === false"
              justify="space-between"
            >
              {{'setting.form.imperative'|translate}}
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-icon name="code-download-outline" slot="start"></ion-icon>
            <ion-checkbox [(ngModel)]="settings.conditional" justify="space-between">
              <ion-label>
                {{'setting.form.conditional'|translate}}
                <ion-note>{{'setting.form.conditional-note'|translate}}</ion-note>
              </ion-label>
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-icon name="bonfire-outline" slot="start"></ion-icon>
            <ion-checkbox
              [(ngModel)]="settings.passive"
              [disabled]="settings.verb === false"
              justify="space-between"
            >
              {{'setting.form.passive'|translate}}
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-icon name="log-in-outline" slot="start"></ion-icon>
            <ion-checkbox
              [(ngModel)]="settings.causative"
              [disabled]="settings.verb === false"
              justify="space-between"
            >
              {{'setting.form.causative'|translate}}
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-icon name="hammer-outline" slot="start"></ion-icon>
            <ion-checkbox
              [(ngModel)]="settings.causativePassive"
              [disabled]="settings.verb === false"
              justify="space-between"
            >
              {{'setting.form.causative-passive'|translate}}
            </ion-checkbox>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-list-header>
            {{'setting.group-title.part-of-speech'|translate}}
          </ion-list-header>
          <ion-item>
            <ion-icon name="chatbox-ellipses-outline" slot="start"></ion-icon>
            <ion-checkbox [(ngModel)]="settings.verb" justify="space-between">
              {{'setting.part-of-speech.verb'|translate}}
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <span slot="start">い</span>
            <ion-checkbox [(ngModel)]="settings.iAdjective" justify="space-between">
              {{'setting.part-of-speech.i-adjective'|translate}}
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <span slot="start">な</span>
            <ion-checkbox [(ngModel)]="settings.naAdjective" justify="space-between">
              {{'setting.part-of-speech.na-adjective'|translate}}
            </ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-list-header>
            {{'setting.group-title.speech-level'|translate}}
          </ion-list-header>
          <ion-item>
            <ion-icon name="briefcase-outline" slot="start"></ion-icon>
            <ion-checkbox [(ngModel)]="settings.polite" justify="space-between">
              <ion-label>
                {{'setting.speech-level.formal'|translate}}
                <ion-note>{{'setting.speech-level.formal-note'|translate}}</ion-note>
              </ion-label>
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-icon name="shirt-outline" slot="start"></ion-icon>
            <ion-checkbox [(ngModel)]="settings.plain" justify="space-between">
              <ion-label>
                {{'setting.speech-level.informal'|translate}}
                <ion-note>{{'setting.speech-level.informal-note'|translate}}</ion-note>
              </ion-label>
            </ion-checkbox>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-list-header>
            {{'setting.group-title.tense'|translate}}
          </ion-list-header>
          <ion-item>
            <ion-icon name="play-forward-outline" slot="start"></ion-icon>
            <ion-checkbox [(ngModel)]="settings.nonPast" justify="space-between">
              <ion-label>
                {{'setting.tense.nonpast'|translate}}
                <ion-note>{{'setting.tense.nonpast-note'|translate}}</ion-note>
              </ion-label>
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-icon name="play-back-outline" slot="start"></ion-icon>
            <ion-checkbox [(ngModel)]="settings.past" justify="space-between">
              {{'setting.tense.past'|translate}}
            </ion-checkbox>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-list-header>
            {{'setting.group-title.positive/negative'|translate}}
          </ion-list-header>
          <ion-item>
            <ion-icon name="happy-outline" slot="start"></ion-icon>
            <ion-checkbox [(ngModel)]="settings.positive" justify="space-between">
              {{'setting.positive/negative.positive'|translate}}
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-icon name="sad-outline" slot="start"></ion-icon>
            <ion-checkbox [(ngModel)]="settings.negative" justify="space-between">
              {{'setting.positive/negative.negative'|translate}}
            </ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-list-header>
            {{'setting.group-title.special-options'|translate}}
          </ion-list-header>
          <ion-item>
            <ion-icon name="trending-up" slot="start"></ion-icon>
            <ion-select
              [(ngModel)]="settings.jlptLevel"
              [label]="'setting.group-title.jlpt-level'|translate"
              interface="action-sheet"
              justify="space-between"
            >
              <ion-select-option value="n5">N5</ion-select-option>
              <ion-select-option value="n4">N4</ion-select-option>
              <ion-select-option value="n3">N3</ion-select-option>
              <ion-select-option value="n2">N2</ion-select-option>
              <ion-select-option value="n1">N1</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <span name="no-suru" slot="start">する</span>
            <ion-checkbox
              [(ngModel)]="settings.leaveOutSuru"
              [disabled]="settings.verb === false"
              justify="space-between"
            >
              {{'setting.special.no-suru'|translate}}
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-icon name="shuffle-outline" slot="start"></ion-icon>
            <ion-checkbox [(ngModel)]="settings.reverse" justify="space-between">
              <ion-label>
                {{'setting.special.reverse'|translate}}
                <ion-note>{{'setting.special.reverse-note'|translate}}</ion-note>
              </ion-label>
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <span slot="start">#</span>
            <ion-select
              [(ngModel)]="settings.amount"
              [selectedText]="settings.amount"
              [label]="'setting.special.amount'|translate"
              interface="action-sheet"
              justify="space-between"
            >
              <ion-select-option value="10">10</ion-select-option>
              <ion-select-option value="20">20</ion-select-option>
              <ion-select-option value="30">30</ion-select-option>
              <ion-select-option value="40">40</ion-select-option>
              <ion-select-option value="50">50</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-icon name="language-outline" slot="start"></ion-icon>
            <ion-select
              [ngModel]="settings.language"
              (ngModelChange)="setLanguage($event)"
              [label]="'setting.special.language'|translate"
              interface="action-sheet"
              justify="space-between"
            >
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="nl">Nederlands</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-icon name="volume-high-outline" slot="start"></ion-icon>
            <ion-select
              [ngModel]="settings.voice"
              (ngModelChange)="setVoice($event)"
              [label]="'setting.special.voice'|translate"
              interface="action-sheet"
              justify="space-between"
            >
              <ion-select-option value="">
                {{'setting.special.none'|translate}}
              </ion-select-option>
              @for (voice of speech.getVoices(); track voice.name) {
                <ion-select-option [value]="voice.name">
                  {{voice.name}}
                </ion-select-option>
              }
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-icon name="barcode-outline" slot="start"></ion-icon>
            <ion-checkbox [(ngModel)]="settings.showMeaning" justify="space-between">
              {{'setting.special.show-meaning'|translate}}
            </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-icon name="code-working-outline" slot="start"></ion-icon>
            <ion-checkbox [(ngModel)]="settings.noFurigana" justify="space-between">
              {{'setting.special.no-furigana'|translate}}
            </ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button
    (click)="startReview()"
    expand="full"
    size="large"
    class="start-review"
  >
    <span class="text">{{'home.start'|translate}}</span>
  </ion-button>
</ion-footer>
