<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      {{'setting.title'|translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/information" routerDirection="forward">
        <ion-icon slot="start" name="help-circle-outline"></ion-icon>
        {{ 'setting.info'|translate }}
      </ion-button>
      <ion-button routerLink="/preferences" routerDirection="forward" [attr.aria-label]="'preferences.title'|translate">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="sr-only">Katsu: practise Japanese conjugation - 活用</h1>
  <app-review-settings></app-review-settings>
</ion-content>

<ion-footer>
  <p class="session-summary">{{ summary }}</p>
  <ion-button
    (click)="startReview()"
    expand="full"
    size="large"
    class="start-review"
  >
    <span class="text">{{'home.start'|translate}}</span>
  </ion-button>
</ion-footer>
